<ul class="row">
  <% @bikes.each do |bike| %>
    <div class="col-md-4 mb-3">
      <%= link_to bike_path(bike), class:"text-decoration-none" do %>
        <li class="cards__item">
          <div class="card">
            <% if bike.photos.attached? %>
              <div class="card__image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path bike.photos.first.key, height: 300, crop: :fill %>')"></div>
            <% else %>
              <div class="card__image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80)"></div>
            <% end %>
            <div class="card__content">
              <div class="card__header">
                <div class="card__title"><%= bike.name %></div>
                <div class="card__location"><%= bike.location %></div>
              </div>
                <p class="card__text"><%= bike.description %></p>
              <div class="card__bottom">
                <div class="card__category"><%= bike.category %></div>
                <div class="card__size"><%= bike.size %></div>
                <div class="card__price"><%= "£#{bike.price.to_i} / day" %></div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      </div>
  <% end %>
</ul>
