<div class="navbar">
  <div>
    <%= link_to "Airbnbike", root_path, class: "logo" %>
  </div>

 <% if user_signed_in? %>
  <div class="nav__links">
    <%= link_to "Search", bikes_path, class: "active nav__link" %>
    <%= link_to "My bookings", user_path(current_user), class: "nav__link" %>
    <%= link_to "List a bike", new_bike_path, class: "nav__link" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav__link" %>
  </div>
<% else %>
  <li>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>

<script src="main.js"></script>
</div>
